Flask==1.1.1
Flask-WTF==0.14.2
Jinja2==2.10.3
newspaper3k==0.2.8 
nltk==3.4.5
Flask-Cors==3.0.8 
Flask-Bcrypt==0.7.1
python-dotenv==0.10.3
validators==0.14.0
gensim==3.8.3
awsebcli==3.16.0
Pillow==6.2.1
numpy==1.18.4
scipy==1.4.1
Werkzeug==1.0.1